.header{
  padding: 20px 0;
  background-color: transparent;
  &__home{
    h1{
      color: $text-color;
      &:hover{
        color: $success-color;
      }
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__nav{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    a{
      color: $text-color;
      &:hover{
        color: $success-color;
      }
    }
  }
  &__user{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    p{
      font-size: 22px;
      color: $text-color;
    }
    a{
      align-items: center;
      display: flex;
      gap: 20px;
    }
  }
  &__status{
    color: $primary-color;
  }
  .btn__exit{
    width: 100px;
  }
}
